.git
node_modules
vendor
storage
.env
.env.*
.gitignore
.gitlab-ci.yml
.github
.vscode
.idea
tests
npm-debug.log
yarn-error.log
pnpm-lock.yaml
README.md
*.log
/.dockerignore
/.git
/.github
/.env
public/storage
storage/*.key
